<html>
<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <title>
    Dingle Berries!
  </title>
</head>
<body>
  <h3><%=@player_1_name%> <%=$player_2_attack %> </h3>
  <h4><%=@player_1_name%>: <%=@player_1_fame_points %>fp</h4>
  <h4><%=@player_2_name%>: <%=@player_2_fame_points %>fp</h4>
  <form action="/play">
    <button type="submit" value="submit">Revenge!</button>
  </form>
</body>
</html>
