<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div>
  <h1><%=@player_1_name%> vs. <%=@player_2_name%></h1>
<h2><%=@player_1_name%>'s turn</h2>
  <h3><%=@player_1_name%>: <%=@player_1_fame_points%> Fame Points</h3>
  <h3><%=@player_2_name%>: <%=@player_2_fame_points%> Fame Points</h3>
</div>

<form action="/attack" method="post">
<label for="action">Options:</label>
<select name="player_1_attack" id="action">
  <option value="has been sent to the Jungle">Jungle</option>
  <option value="has been embarrassingly tripped up on the red carpet">Trip</option>
  <option value="has had their private matters leaked">Sexy Tape</option>
  <option value="has had their drink spiked at the Made In Chelsea premier after party">Spike Drink</option>
  <option value="got caught on camera expressing alt-right views">Right Wing Agenda</option>
  <option value="is accused of photoshopping their NAKED picture to promote raunchy new shoe range">Photoshop</option>
  <option value="flashes a hint of side boob in an embellished sheer dress at the NYC premiere of Ghostbusters">Boob Gate</option>
  <option value="is filled with rage as you restore your celebrity status by adopting a village of African children">Adopt</option>
  <option value="has gone braless under jacket bearing her beau Tristan Thompson's basketball number... after ex Lamar Odom claims she 'tolerated' his cocaine use">Tabloid Story</option>
</select>
<button type="submit" value="submit">Do It</button>
</form>
</body>
</html>
